<div class="wrapper berlin-background">
  <div class="container">

    <div class="box">
      <div class="row">
        <div class="col-md-6">
          <%= cl_image_tag @listing.photo, size: "450x450"%>
        </div>


        <div class="col-md-6">

          <h2>
            <%= @listing.title %>
          </h2>

          <h2>
            <%= @listing.price %>€
          </h2>

          <p>
            <strong>Description:</strong>
            <%= @listing.description %>
          </p>
          <%= render "booking_form" %>
          <div class="page-element">

            <%= link_to root_path do%>
            <%= fa_icon "arrow-left" %>Back
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
