<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Your Booking</h1>
        <ul>
          <li>You booked service: <%= link_to @booking.listing.title, listing_path %></li>
          <li>Start date: <%= @booking.start_date %></li>
          <li>End Date: <%= @booking.end_date %></li>
          <li>Your address: <%= @booking.address %></li>
        </ul>
        <%= link_to 'Home', root_path %>
      </div>
    </div>
  </div>
</div>


