<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class= "book">
          <h1>Booking Completed! <%= image_tag "logo.png", size: "45x45", class: "success" %></h1>
          <ul>
            <li>Booked service: <%= link_to @booking.listing.title, listing_path %></li>
            <li>Start date: <%= @booking.start_date %></li>
            <li>End Date: <%= @booking.end_date %></li>
            <li>Your address: <%= @booking.address %></li>
          </ul>
        </div>
        <%= link_to 'Cancel', listing_path, class: "btn btn-danger" %>
        <%= link_to 'Continue booking', root_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>


