<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Your Booking</h1>
        <ul>
          <li>You booked service: <%= @booking.listing.title %></li>
          <li>From seller: <%= @booking.seller %></li>
          <li>Start date: <%= @booking.start_date %></li>
          <li>End Date: <%= @booking.end_date %></li>
          <li>Your address: <%= @booking.address %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
