<div class="searchbar">
  <form class="form-inline">

    <!-- Magnifying glass icon -->
    <i class="fa fa-search magnifying-glass" aria-hidden="true"></i>

    <!-- Search Input -->
    <label class="sr-only" for="inlineFormInputSearch">Search</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 searchfield" id="inlineFormInputSearch" placeholder="Search for service">

    <!-- Category Selector -->
    <select class="form-control" id="inlineFormCustomSelectCategory">
      <option selected>Category</option>
      <option value="Handwerksleistungen">Handwerksleistungen</option>
      <option value="Reinigung">Reinigung</option>
      <option value="Umzüge">Umzüge</option>
    </select>

    <!-- City Selector-->
    <label class="sr-only" for="inlineFormInputSearch">Search</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputSearch" placeholder="City">

    <!-- Price Selector-->
    <label class="sr-only" for="inlineFormInputPrice">Price</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputPrice" placeholder="Max. price">

    <!-- Submit Button-->
    <button type="submit" class="btn btn-primary button-search">Submit</button>
  </form>
</div>

<div class="main-container">

<div class="cards-container">
    <div class="row">

<% @listings.each do |displaycard| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to listing_path(displaycard) do %>
        <div class="card">
        <div class="container-picture">
           <%= image_tag("/assets/default-#{rand(15)}.JPG", class: "card-picture") %>
         </div>
         <div class="card-price">
            <p><%= displaycard.price %> €</p>
          </div>
          <div class="card-info">
            <p class="card-title"><%= displaycard.title  %></p>
            <div class="card-description"> <p><%= displaycard.description %></p></div>
          </div>
         </div>
         <% end %>
      </div>
      <% end %>



    </div>
  </div>

  <div id="map"></div>

  <!-- Gmaps js: building the map -->
  <script>
    function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 14
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>
